/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
database/migrations/2020_04_13_195030_simplify_kunjungan.php
database/migrations/2020_04_13_195202_add_new_field_revisi.php
